* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

main {
    background-color: #e3e3e3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #234c6a;
    padding: 0 2rem;
}

#brandname {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

#links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

#links ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}


#links ul li a.active {
    background-color: rgba(255, 255, 255, 0.35);
}



footer {

    color: #e3e3e3;
    text-align: center;
    border-radius: 1vh 1vh 0 0;

    height: 12vh;
    width: 100%;
    background-color: #234c6a;
    padding: 0 2rem;
}